<%= javascript_include_tag "move.min.js" %>
<p id="notice"><%= notice %></p>

<p>
  <%= @room.title %>
</p>

<div id="chat-screen"></div>

<%# コメントを作るときのひな形 -%>
<div id="template">
  <span class="comment"></span>
</div>
<button id="post">コメントする</button>
<script type="text/javascript">
    var config = {
        lifetime: '3s'
    };

    var words = [
        "★≡＝―　★≡＝―　★≡＝―　★≡＝―　★≡＝―　★≡＝―　★≡＝―　★≡＝―",
        "▁▂▃▅▆▇█▇▆▅▃▂▁▂▃▅▆▇█▇▆▅▃▂▁▂▃▅▆▇█▇▆▅▃▂▁▁▂▃▅▆▇█▇▆▅▃▂▁▂▃▅▆▇█▇▆▅▃▂▁",
        "┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨ ┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨ ┣¨┣¨┣¨",
        "ｷﾀ━━━━━━━━(ﾟ∀ﾟ)━━━━━━━━━━!!",
        "ちいいいいいいいいいいいいいさなああああああああおおおおおおおおおおっぱあああああああいい!!!!!!!",
        "急に歌うよ～",
        "きしめええええええええええええええええええええええええええええええええええええええ",
        "真っ赤な誓いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
        "MTTO! MTTO!",
        "(」・ω・)」うー！(／・ω・)／にゃー！",
        "＼(・ω・＼)SAN値！(／・ω・)／ピンチ！"
    ];

    function initial_position() {
        var top = Math.max.apply(null, $('#chat-screen span.comment').map(function (i, c) {
            return $(c).position().top + $(c).height()
        }));
        // 下までいっぱいになったら弾幕モード
        if (top > chat_screen().height()) {
            top = Math.floor(Math.random() * chat_screen().height());
        }
        var left = chat_screen().width();

        return {top: top, left: left};
    }
    function chat_screen() { return $('#chat-screen'); }
    function random_word() {
        var n = words.length;
        var i = Math.floor(Math.random() * n);
        return words[i];
    }

    $('#post').on('click', function(){
        var comment = $('#template span.comment').clone();
        comment.text(random_word());
        comment.css(initial_position());
        chat_screen().append(comment);

        go(comment.get(0), config.lifetime);
    });
    function go(element, lifetime) {
        move(element).
                x(0 - (chat_screen().width() + $(element).width())).
                duration(lifetime).
                ease('linear').
                end(function(){ $(element).remove();});
    }
</script>

<p>
  <%= @room.serial %>
</p>
<div class="qrcode">
  <table>
    <%- @qr.modules.each_index do |x| -%>
        <tr>
          <%- @qr.modules.each_index do |y| -%>
              <%- if @qr.dark?(x,y) -%>
                  <td class="black"></td>
              <%- else -%>
                  <td class="white"></td>
              <%- end -%>
          <%- end -%>
        </tr>
    <%- end -%>
  </table>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
