<%= javascript_include_tag 'move.min.js' %>
<%= javascript_include_tag 'http://js.pusher.com/2.0/pusher.min.js' %>
<p id="notice"><%= notice %></p>

<p>
  <%= @room.title %>
</p>

<div id="chat-screen"></div>

<%# コメントを作るときのひな形 -%>
<div id="template">
  <span class="comment"></span>
</div>

<script type="text/javascript">
    var config = {
        lifetime: '3s'
    };

    function initial_position() {
        //noinspection JSUnresolvedVariable
        var top = Math.max.apply(null, $('#chat-screen span.comment').map(function (i, c) {
            return $(c).position().top + $(c).height()
        }));
        // 下までいっぱいになったら弾幕モード
        if (top > chat_screen().height()) {
            top = Math.floor(Math.random() * chat_screen().height());
        }
        var left = chat_screen().width();

        return {top: top, left: left};
    }
    function chat_screen() { return $('#chat-screen'); }

    function new_comment(text) {
        var comment = $('#template span.comment').clone();
        comment.text(text);
        comment.css(initial_position());
        chat_screen().append(comment);
        go(comment.get(0), config.lifetime);
    }
    function go(element, lifetime) {
        move(element).
                x(0 - (chat_screen().width() + $(element).width())).
                duration(lifetime).
                ease('linear').
                end(function(){ $(element).remove();});
    }
    var pusher = new Pusher('23fcec0bad6a7e951bae');
    var channel = pusher.subscribe('<%= @room.serial %>');
    channel.bind('comment', function (data) {
        var comments = data.comments
        $.each(comments, function(i, comment){
            new_comment(comment);
        });
    });
</script>

<p>
  <%= link_to @room.serial, url_for(:action => :mb_show, :serial => @room.serial) %>
</p>
<div class="qrcode">
  <table>
    <%- @qr.modules.each_index do |x| -%>
        <tr>
          <%- @qr.modules.each_index do |y| -%>
              <%- if @qr.dark?(x,y) -%>
                  <td class="black"></td>
              <%- else -%>
                  <td class="white"></td>
              <%- end -%>
          <%- end -%>
        </tr>
    <%- end -%>
  </table>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
