<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @room.title %>
</p>

<div id="chat-screen"></div>

<p>
  <b>Serial:</b>
  <%= @room.serial %>
</p>
<div class="qrcode">
<table>
  <%- @qr.modules.each_index do |x| -%>
  <tr>
    <%- @qr.modules.each_index do |y| -%>
        <%- if @qr.dark?(x,y) -%>
        <td class="black"></td>
        <%- else -%>
        <td class="white"></td>
        <%- end -%>
    <%- end -%>
  </tr>
  <%- end -%>
</table>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
