<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @room.title %>
</p>

<div id="chat-screen">
<span class="comment">ｷﾀ━━━━━━━(ﾟ∀ﾟ)━━━━━━━!</span>
</div>
<script type="text/javascript">
  var c = $('.comment');
  var pos = c.position();
  var lifetime = 4.0;
  var wait = 50.0;
  var width;
  width = ($('#chat-screen').width() + c.width()) / (lifetime / wait * 1000);
  console.log(width);
  function step(comment){
      newPos = comment.position();
      newPos.left = newPos.left - width;
      if (newPos.left + comment.width() + 10 < 0) return false;
      comment.css(newPos);
      return true;
  }
  function tick(f, comment) {
      setTimeout(function(){
          if ( f(comment) ) {
              console.log(comment.position());
              tick(f, comment);
          }
      }, wait);
  }
  tick(step, c);
</script>

<p>
  <b>Serial:</b>
  <%= @room.serial %>
</p>
<div class="qrcode">
<table>
  <%- @qr.modules.each_index do |x| -%>
  <tr>
    <%- @qr.modules.each_index do |y| -%>
        <%- if @qr.dark?(x,y) -%>
        <td class="black"></td>
        <%- else -%>
        <td class="white"></td>
        <%- end -%>
    <%- end -%>
  </tr>
  <%- end -%>
</table>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
