<p id="notice"><%= notice %></p>

<p>
  <%= @room.title %>
</p>

<div id="chat-screen"></div>

<%# コメントを作るときのひな形 -%>
<div id="template">
  <span class="comment"></span>
</div>
<button id="post">コメントする</button>
<script type="text/javascript">
    var config = {
        lifetime: 2.5,
        wait: 20.0,
        sec: 1000
    };
    function speed(c) {
        return ($('#chat-screen').width() + c.width()) / (config.lifetime / config.wait * config.sec);
    }
    var words = [
        "★≡＝―　★≡＝―　★≡＝―　★≡＝―　★≡＝―　★≡＝―　★≡＝―　★≡＝―",
        "▁▂▃▅▆▇█▇▆▅▃▂▁▂▃▅▆▇█▇▆▅▃▂▁▂▃▅▆▇█▇▆▅▃▂▁▁▂▃▅▆▇█▇▆▅▃▂▁▂▃▅▆▇█▇▆▅▃▂▁",
        "┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨ ┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨┣¨ ┣¨┣¨┣¨",
        "ｷﾀ━━━━━━━━(ﾟ∀ﾟ)━━━━━━━━━━!!",
        "ちいいいいいいいいいいいいいさなああああああああおおおおおおおおおおっぱあああああああいい!!!!!!!",
        "急に歌うよ～",
        "きしめええええええええええええええええええええええええええええええええええええええ",
        "真っ赤な誓いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい",
        "MTTO! MTTO!",
        "(」・ω・)」うー！(／・ω・)／にゃー！",
        "＼(・ω・＼)SAN値！(／・ω・)／ピンチ！"
    ];

    function initial_position() {
        var bottom = Math.max.apply(null, $('#chat-screen span.comment').map(function(i, c){ return $(c).position().top + $(c).height() }));
        var top = bottom
        // 下までいっぱいになったら弾幕モード
        if (top > chat_screen().height()) {
            top = Math.floor(Math.random() * chat_screen().height());
        }
        var left = chat_screen().width();

        return {top: top, left: left};
    }
    function chat_screen() { return $('#chat-screen'); }
    function random_word() {
        var n = words.length;
        var i = Math.floor(Math.random() * n);
        return words[i];
    }

    function step(comment){
        var pos = comment.position();
        pos.left = pos.left - speed(comment);
        if (pos.left + comment.width() + 10 < 0) {
            comment.remove();
            return false;
        }
        comment.css(pos);
        return true;
    }

    function tick(f, comment, wait) {
        setTimeout(function(){
            if ( f(comment) ) {
                tick(f, comment, wait);
            }
        }, wait);
    }

    $('#post').on('click', function(){
        var comment = $('#template span.comment').clone();
        comment.text(random_word());
        comment.css(initial_position());
        chat_screen().append(comment);

        tick(step, comment, config.wait);
    });
</script>

<p>
  <%= @room.serial %>
</p>
<div class="qrcode">
  <table>
    <%- @qr.modules.each_index do |x| -%>
        <tr>
          <%- @qr.modules.each_index do |y| -%>
              <%- if @qr.dark?(x,y) -%>
                  <td class="black"></td>
              <%- else -%>
                  <td class="white"></td>
              <%- end -%>
          <%- end -%>
        </tr>
    <%- end -%>
  </table>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
