<%- content_for :header do -%>
<%= javascript_include_tag 'move.min.js' %>
<%= javascript_include_tag 'http://js.pusher.com/2.0/pusher.min.js' %>
<%- end -%>
<p id="notice"><%= notice %></p>
<div id="chat-screen">
  <%- if @slide -%>
      <iframe src="<%= @slide.embed_url %>"
              width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" ></iframe>
  <%- end -%>
  <div class="qrcode" title="click to resize">
    <table>
      <%- @qr.modules.each_index do |x| -%>
          <tr>
            <%- @qr.modules.each_index do |y| -%>
                <%- if @qr.dark?(x,y) -%>
                    <td class="size5 black"></td>
                <%- else -%>
                    <td class="size5 white"></td>
                <%- end -%>
            <%- end -%>
          </tr>
      <%- end -%>
    </table>
  </div>
</div>

<%# コメントを作るときのひな形 -%>
<div id="template">
  <span class="comment"></span>
</div>
<script type="text/javascript">
    var pusher = new Pusher('<%= Pusher.key %>');
    var channel = pusher.subscribe('<%= @serial %>');
    channel.bind('comment', function (data) {
        var comments = data.comments
        $.each(comments, function(i, comment){
            new_comment(comment);
        });
    });
    var qrcode_size = 5;
    $('.qrcode').on('click', function (e) {
        var tds = $('.qrcode table td');
        switch (qrcode_size) {
            case 5: tds.removeClass('size5').addClass('size4'); qrcode_size--; break;
            case 4: tds.removeClass('size4').addClass('size3'); qrcode_size--; break;
            case 3: tds.removeClass('size3').addClass('size0'); qrcode_size = 0; break;
            case 0: tds.removeClass('size0').addClass('size5'); qrcode_size = 5; break;
        }
    })
</script>
<%- if Rails.env.development? -%>
    <script type="text/javascript">
      function testpost() {
          var s = 'ｷﾀ━━━━(ﾟ∀ﾟ)━━━━!! ';
          var num = Math.floor(Math.random() * 5);
          s = new Array( num + 1 ).join( s );
          new_comment(s);
      }
    </script>
    <%= button_to_function 'コメント', 'testpost();' %>
<%- end -%>

<p class="navi">
  <%- mb_url = mb_rooms_url + '/' + @serial -%>
  <%= link_to mb_url, mb_url, :target => '_blank' %>
  <%= link_to 'Back', root_path %>
</p>
